/* font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Montserrat', sans-serif ;
    background-color: hsl(30, 38%, 92%);
    font-size:0.9em;
    min-height: 100vh;
    /* 100vh yi araştır */
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
   
    
}

.container{
    margin: 30px auto ; 
    /* auto'ya bir daha bak */
    padding: 0 30px;
}

.grid{

    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffff;
    border-radius: 15px;
    overflow: hidden;
}

.img img{
    max-width: 100%;
    display: inherit;
}

.card-content{
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category{

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9em;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.name{
    font-family:  'Fraunces', serif;
    font-size: 2em;
    line-height: 1em;
    color:  hsl(212, 21%, 14%);
}

.des{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}

.current-price{
    font-family:  'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    padding-right: 10px;
}

.old-price {
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
}

/* .old-price {
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
} */


.price{
    display: flex;
    align-items: center;
   
}

.btn{
    background-color:hsl(158, 36%, 37%) ;
    padding: 12px 0;
    border:none;
    border-radius: 12px;
    color:white;
    font-size:0.9em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.btn img{
    padding-right: 9px;
}

.btn:hover{
    background-color:hsl(158, 58%, 18%) ;
}

.clear{
    clear: both;
}

@media only screen and (max-width:628px){
    .grid{
        grid-template-columns: 1fr;
    }

    .img img {
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
    .card-content{
        display: block;
    }
    .category, .name, .des, .price {
        padding-bottom: 23px;
    }
}

@media only screen and (max-width:375px){
    .container{
        margin: 15px auto;
        padding: 0 15px;
    }
    .img img{
        max-height: 290px;
    }
    .card-content{
        padding: 24px;
    }
    .category, .name, .des, .price {
        padding-bottom: 16px;
    }
    .name{
        font-size: 2em;
    }
    .des{
        font-size: 1em;
    }
    .current-price{
        font-size: 2em;
    }
    .btn{
        padding: 9px 0;
        font-size: 1em;
    }
    
}